@import "./asset";

.show-btn {
  display: grid;
  grid-template-columns: auto auto auto auto;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding:20px;
  background-color: #F1F2F3;
  padding-bottom:40px;
  
  .btn {
    width:72px;
    height:72px;
    margin:6px;
    font-size:24px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 24px;
    border: 0px;
    background-color: white;
    color: #252525;
    &:hover{
      background-color: #FF8F00;
      color: white;
      transition: background-color 0.2s ease;
    }&:active {
      background-color: #FF8F00;
      color: white;
      transition: background-color 0.2s ease;
    }
  }

  .exp {
   color: white;
    background-color: #4B5EFC;
  }
  .op{
    background-color: #D2D3DA;
  }
}
