@import "./_Assets";

.container {
  background-color: #dfe9f5;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 1rem;
  
  .main {
    border: 0px;
    border-radius: 8px;
    max-width: 380px;
  }
}

@media (max-width: 600px) {
  .main {
    width: 100%;
    height: 100%;
  }
}

@include switch;
@include buttonDarkTheme;
@include displayDarkTheme;