@import "./asset";

.display {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  min-height: 9rem;
}
.input,
.value {
  padding: 10px;
  text-align: right;
  background-color: transparent;
  border: 0px;
  letter-spacing: 1.5px;
}

.input {
  font-size: 56px;
}
.value {
  font-size: 24px;
}
.input::placeholder,
.value::placeholder {
  color: #252525;
}

.input:focus-visible,
.value:focus-visible {
  outline-style: none;
  outline-width: 0px;
}
